*{
    margin: 0;
    padding: 0;
    text-align: center;
}
 /* div{
     border: 1px solid black;
 } */
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
}

header{
    height: 100px;
    background: rgb(252, 169, 183);
    width: 100vw;
}

.box1{
    height: calc(100vh - 100px - 100px - 20px - 20px - 10px - 10px);
    display: flex;
    gap: 10px;
}

nav{
    background: rgb(245, 221, 225);
    width: 230px;
}

article{
    background: rgb(241, 239, 240);
    width: calc(100vw - 10px - 230px - 50px);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.container .box1 article div{
    background:rgb(212, 189, 193);
    width: 150px;
    height: 150px; 
    margin-bottom: 10px;
}

footer{
    height: 100px;
    background: rgb(230, 199, 205);
    width: 100vw;
}
